.ProductResultContainer {
	display: inline-block;
	justify-content: left;
	max-width: 900px;
}

.ProductResults {
	display: inline-block;
}

.ProductComponent {
	display: inline-block;
	max-width : 180px;
	border: #D3D3D3;
	border-width: 0px;
	border-style: solid;
	padding: 9px;
	margin: 9px;
	font-size: 14px;
}

.ProductComponent a {
	text-decoration: none;
	color: #5F6368;
}
  
  
.ProductComponent:hover{
	background-color: #F1F3F4;
}
  
  
.ProductComponent:hover a{
	color: #4285F4;
}

.ProductImage {
	zoom: 50%;
}

.ProductNotAvailable {
	width: fit-content;
	height: fit-content;
	text-align: center;
	display: inline-block;
	border: #D3D3D3;
	border-width: 1px;
	color: #5F6368;
	border-style: solid;
	padding-top: 90px;
	padding-bottom: 90px;
	padding-left: 27px;
	padding-right: 27px;
	font-size: 27px;
	margin: 9px;
}

.CategoryResultsText {
	color: #5F6368;
	font-size: 18px;
}

.BackToSearch {
	width: 100%;
	display: inline;
	text-align: right;
}
.BackToSearch a {
	text-decoration: none;
	color: #4285F4;
	font-size: 18px;
}

.RightSideAd {
    width: 300px;
}

/* For mobile display */
@media only screen and (max-width: 1107px) {
  
    .RightSideAd {
      display: none;
    }
  }
  