.HomePageDefaults {
  border: 0px solid red;
}

.HomePageCenter {
  display: flex;
  /* Making the container flex helps putting multiple items in the same row with required
  width */
}

.HomePageCenterOfHW { /* Mid section by Horizontal & Vertical*/
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  border: 1px solid blue;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.CenterMainTitle {
  font-family: Google Sans Display;
  font-size: 27px;  
  color: #202124;
}

.SearchBox {
  border-radius: 30px;
	border: none;
	box-shadow: 0 1px 3px rgba(60, 63, 66, .32), 0 4px 12px rgba(60, 63, 66, .15);
	max-width: 80%;
	min-height: 56px;
	transition: width 200ms ease, max-width 200ms ease, height 200ms ease, min-height 200ms ease, top 200ms ease, left 200ms ease, border 200ms ease, margin 200ms ease, padding 200ms ease, border-radius 100ms ease, background-color 400ms ease;
	width: 384px;

  font-family: 'Google Sans';
  font-size: 16px;
  text-align: center;
  color: #202124;
}

.SearchBox:focus {
  outline: none;
}

.SearchBox ::placeholder{
  color: #80868b;
}
