.HomePageDefaults {
  border: 0px solid red;
}

.HomePageCenter {
  display: flex;
  /* Making the container flex helps putting multiple items in the same row with required
  width */
}

.HomePageCenterOfHW { /* Mid section by Horizontal & Vertical*/
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  border: 0px solid blue;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.CenterMainTitle {
  font-family: Google Sans Display;
  font-size: 36px;  
  color: #202124;
  padding-bottom: 18px;
  /*color: #202124;*/
}

.CenterMainCategoryPanel {
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  border: 0px solid green;
  padding-left:  3px;
  width: max-content;
  height: max-content;
  display: flex;
  text-align: center;
}

.HomePageBanner {
  background-color: #E8F0FE;
  /* background-color: #ffffff; */
  height: 180px;
  background-image: url("../../images/banner/test5.png");
  background-position:bottom;
  background-size: auto; 
  background-repeat:no-repeat;
}

.SearchBoxInput {
	border: none;
	min-height: 54px;
  font-family: 'Google Sans';
  font-size: 18px;
  text-align: left;
  color: #202124;
  padding-left: 18px;
  width: 306px;
  background: transparent;
}

.SearchBoxInput:focus {
  outline: none;
}

.SearchBoxInput ::placeholder{
  color: #80868b;
}

.SearchBox {
  border-radius: 30px;
	border: none;
	box-shadow: 0 1px 3px rgba(60, 63, 66, .32), 0 4px 12px rgba(60, 63, 66, .15);
	min-height: 56px;
	transition: width 200ms ease, max-width 200ms ease, height 200ms ease, min-height 200ms ease, top 200ms ease, left 200ms ease, border 200ms ease, margin 200ms ease, padding 200ms ease, border-radius 100ms ease, background-color 400ms ease;
	

  font-family: 'Google Sans';
  font-size: 16px;
  text-align: center;
  color: #202124;
  width: 384px;

  padding-right: 10px;
}

.SearchBox:focus {
  outline: none;
}

.SearchBox ::placeholder{
  color: #80868b;
}



.SearchBoxImage {
  height: 25px;
  width: auto;
  padding-left: 18px;
}

.SearchBoxSecondRow_SearchItem {
  color: #80868b;
  background-color: transparent;
  width: 90%;
  border-radius: 90px;
  display: inline-block;
}



.SearchBoxSecondRow_SearchItem:hover{
  background-color: #F1F3F4;
}


.SearchBoxSecondRow_Hidden {
  display: none;
}




.RightSideAd {
  display: fixed;
  max-width:180px;
  float: right;
}

.MainContent {
  width: 100%;
  height: 100%;
  position: absolute;
}

.HomePageMainContainer {
  position: relative;
}

.Quote {
  padding-top: 18px;
  color: #5F6368;
  max-width: 405px;
  white-space: pre-line;
}

/* For mobile display */
@media only screen and (max-width: 900px) {

  .CenterMainTitle {
    font-family: Google Sans Display;
    font-size: 27px;  
    color: #202124;
  }

  .HomePageBanner {
    background-color: #E8F0FE;
    /* background-color: #ffffff; */
    height: 180px;
    background-image: url("../../images/banner/test5.png");
    background-position:bottom;
    background-size: 100%; 
    background-repeat:no-repeat;
  }

  .RightSideAd {
    display: none;
  }
}
